<header>
    MY APP

    <ul>
        <% if(locals.user){ %>
             <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/users/profile/<%= user._id %>">PROFILE</a>
            </li>
            <li id="pro-pic">
                <div class="pic"><img src="<%= user.avatar %>" alt="<%= user.name %>"/></div>
                <%= user.name  %></li>
            <li>
                <a href="/users/signout" >SIGN OUT</a>
            </li>
        <% }else{%>
            <li>
                <a href="/users/signin">SIGN IN</a>
            </li>
            <li>
                <a href="/users/signup">SIGN UP</a>
            </li>
        <% } %>
    </ul>
    
</header>
<script src="https://kit.fontawesome.com/eab6c7e050.js" crossorigin="anonymous"></script>