<h1>
    <%= header  %>
</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="abc@xyz.com" required>
    <input type="password" name="password" placeholder="your password" required/>
    <button type="submit">SIGN IN</button>
</form>