body {
    margin: 0;
    text-align: center;
    background-color: rgb(210, 245, 245);
    .container{
        margin-top: 100px;
        height: 100vh;
    };
    .flash{
        position: absolute;
        left: 30px;
        background-color: white;
        color: black;
        padding: 5px 15px;
        font-size: 0.9rem;
        border-radius: 10px;
    }
}