div {
  display: flex;
  align-items: center;
  width: 100%; }
  div #feed-posts {
    width: 70%; }
    div #feed-posts h4 {
      font-size: 2rem;
      font-weight: 800;
      text-transform: uppercase; }
    div #feed-posts #new-post-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      div #feed-posts #new-post-form textarea {
        width: 70%;
        font-size: 1rem;
        padding: 10px 20px; }
      div #feed-posts #new-post-form input {
        background-color: black;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 800;
        padding: 5px 15px;
        border-radius: 10px;
        position: relative;
        right: 70px;
        top: 20px;
        cursor: pointer; }
      div #feed-posts #new-post-form input:hover {
        color: goldenrod; }
    div #feed-posts #posts-list {
      display: flex;
      flex-direction: column; }
      div #feed-posts #posts-list ul {
        display: flex;
        flex-direction: column;
        list-style: none; }
        div #feed-posts #posts-list ul li {
          background-color: white;
          padding: 10px 15px; }
  div #user-friends {
    width: 30%;
    height: 100vh;
    border-left: 2px solid lightgray; }
