body {
  margin: 0;
  text-align: center;
  background-color: #d2f5f5; }
  body .container {
    margin-top: 100px;
    height: 100vh; }
  body .flash {
    position: absolute;
    left: 30px;
    background-color: white;
    color: black;
    padding: 5px 15px;
    font-size: 0.9rem;
    border-radius: 10px; }
